*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    height:100px;
    width: 100px;
    border-radius: 50%;
    border:1px solid black;
    background-color: burlywood;
    margin: 10px;
}